.bg-container {
	// background-image: url('../../../assets/images/wallpaper.jpg');
}

.table-card {
	width: 99% !important;
}

.header-bg-color {
	background-color: #2a7fb9 !important;
	color: white !important;
	padding-top: 5px !important;
	font-size: 12px !important;
	height: 30px;
	border-radius: 0 !important;
}

.header-bg-color-public {
	background-color: #2a7fb9 !important;
	color: white !important;
	padding: 20px !important;
	font-size: 20px !important;
	border-radius: 0 !important;
}

.role-text {
	text-align: center !important;
}

#footer-content {
	text-align: center !important;
	margin-top: 150px;
	font-size: 12px;
}

.blue-color {
	color: #45aaf2 !important;
}


